@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
}

#chatscroll {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
#histscroll {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
